#saude_jogador{
    background-color: yellow; 
    height: 30px; 
    width: 100%;
}

/*indica a saude completa*/
#back_saude_inimigo{
    background-color: yellow; 
    height: 30px;
}

#pai{
    position: relative;
    display: inline-block;
}

#pai_tempo{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

#timer{
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0; /*Retira o vinculo com o display flex pai_tempo*/
}
/*indica como esta a saude do inimigo no momento*/
#saude_inimigo{
    position: absolute;
    background-color: blue; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#pai_saude_inimigo{
    position: relative;
    height: 30px; 
    width: 100%;
}

#pai_saude_jogador{
    position: relative;
    height: 30px; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#saude_jogador{
    position: absolute;
    background-color: blue; 
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
#back_saude_jogador{
    background-color: yellow; 
    height: 30px;
    width: 100%;
}